icnsmake.xcodeproj/project.xcworkspace/contents.xcworkspacedata
icnsmake.xcodeproj/project.xcworkspace/xcuserdata/Alex.xcuserdatad/UserInterfaceState.xcuserstate
icnsmake.xcodeproj/xcuserdata/Alex.xcuserdatad/xcschemes/icnsmake.xcscheme
icnsmake.xcodeproj/xcuserdata/Alex.xcuserdatad/xcschemes/xcschememanagement.plist
